.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 2px solid var(--main-color);
    padding: 8px;
    text-align: center;
}

.table thead {
    background-color: var(--main-color);
    color: white;
}

.table th {
    font-weight: bold;
}

.table td {
    cursor: pointer;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.table tbody tr:hover {
    opacity: .8;
}